<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- =============================== CONTEXT =============================== -->
    <context-param>
        <description>NHS EMAil</description>
        <param-name>nhsEmail</param-name>
        <param-value>nhs@gov.co.uk</param-value>
    </context-param>
    <context-param>
        <description>DATABASE NAME</description>
        <param-name>DbContext</param-name>
        <param-value>ESDweb</param-value>
    </context-param>
    <context-param>
        <description>USERS TABLE</description>
        <param-name>UserContext</param-name>
        <param-value>USERS</param-value>
    </context-param>
    <context-param>
        <description>PATIENTS TABLE</description>
        <param-name>PatientContext</param-name>
        <param-value>PATIENTS</param-value>
    </context-param>
    <context-param>
        <description>STAFFS TABLE</description>
        <param-name>StaffContext</param-name>
        <param-value>STAFFS</param-value>
    </context-param>
    <context-param>
        <description>APPOINTMENTS TABLE</description>
        <param-name>AppointmentContext</param-name>
        <param-value>APPOINTMENTS</param-value>
    </context-param>
    <context-param>
        <description>MEDICATIONS TABLE</description>
        <param-name>MedicationContext</param-name>
        <param-value>MEDICATIONS</param-value>
    </context-param>
    <context-param>
        <description>PRESCRIPTIONS TABLE</description>
        <param-name>PrescriptionContext</param-name>
        <param-value>PRESCRIPTIONS</param-value>
    </context-param>
    <context-param>
        <description>REFERRALS TABLE</description>
        <param-name>ReferralsContext</param-name>
        <param-value>REFERRALS</param-value>
    </context-param>
    <context-param>
        <description>SPECALIST TABLE</description>
        <param-name>SpecalistContext</param-name>
        <param-value>SPECALIST</param-value>
    </context-param>
    <context-param>
        <description>TURNOVER TABLE</description>
        <param-name>TurnoverContext</param-name>
        <param-value>TURNOVER</param-value>
    </context-param>
    <context-param>
        <description>INVOICES TABLE</description>
        <param-name>InvoiceContext</param-name>
        <param-value>INVOICES</param-value>
    </context-param>
    <!-- =============================== FILTER ================================ -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- ============================== LISTENER =============================== -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>controler.BaseListener</listener-class>
    </listener>
    <!-- =============================== SERVLET =============================== -->
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>controler.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>controler.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controler.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controler.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>controler.ActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientActionBookingController</servlet-name>
        <servlet-class>controler.PatientActionBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewController</servlet-name>
        <servlet-class>controler.AdminViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectUserController</servlet-name>
        <servlet-class>controler.AdminSelectUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectPrescriptionController</servlet-name>
        <servlet-class>controler.AdminSelectPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectAppointmentController</servlet-name>
        <servlet-class>controler.AdminSelectAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectAproveStaffController</servlet-name>
        <servlet-class>controler.AdminSelectAproveStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminActionAproveStaffController</servlet-name>
        <servlet-class>controler.AdminActionAproveStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewController</servlet-name>
        <servlet-class>controler.StaffViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSelectPrescriptionController</servlet-name>
        <servlet-class>controler.StaffSelectPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffActionPrescriptionController</servlet-name>
        <servlet-class>controler.StaffActionPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffViewTestController</servlet-name>
        <servlet-class>controler.staffViewTestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientViewTestController</servlet-name>
        <servlet-class>controler.patientViewTestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSelectPrescriptionController</servlet-name>
        <servlet-class>controler.PatientSelectPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientViewController</servlet-name>
        <servlet-class>controler.PatientViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientActionPrescriptionController</servlet-name>
        <servlet-class>controler.PatientActionPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSelectRefillController</servlet-name>
        <servlet-class>controler.StaffSelectRefillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffActionRefillController</servlet-name>
        <servlet-class>controler.StaffActionRefillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>controler.testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteController</servlet-name>
        <servlet-class>controler.AutoCompleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientActionAppointmentController</servlet-name>
        <servlet-class>controler.PatientActionAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSelectAppointmentController</servlet-name>
        <servlet-class>controler.PatientSelectAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorActionSpecalistController</servlet-name>
        <servlet-class>controler.DoctorActionSpecalistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSelectSpecalistController</servlet-name>
        <servlet-class>controler.DoctorSelectSpecalistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSelectInvoiceController</servlet-name>
        <servlet-class>controler.StaffSelectInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffActionInvoiceController</servlet-name>
        <servlet-class>controler.StaffActionInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSelectAppointmentController</servlet-name>
        <servlet-class>controler.StaffSelectAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffActionAppointmentController</servlet-name>
        <servlet-class>controler.StaffActionAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSelectBookingController</servlet-name>
        <servlet-class>controler.PatientSelectBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectTurnoverController</servlet-name>
        <servlet-class>controler.AdminSelectTurnoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminActionTurnoverController</servlet-name>
        <servlet-class>controler.AdminActionTurnoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectInvoiceController</servlet-name>
        <servlet-class>controler.AdminSelectInvoiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientActionBookingController</servlet-name>
        <url-pattern>/PatientActionBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewController</servlet-name>
        <url-pattern>/AdminViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectUserController</servlet-name>
        <url-pattern>/AdminSelectUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectPrescriptionController</servlet-name>
        <url-pattern>/AdminSelectPrescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectAppointmentController</servlet-name>
        <url-pattern>/AdminSelectAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectAproveStaffController</servlet-name>
        <url-pattern>/AdminSelectAproveStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActionAproveStaffController</servlet-name>
        <url-pattern>/AdminActionAproveStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewController</servlet-name>
        <url-pattern>/StaffViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSelectPrescriptionController</servlet-name>
        <url-pattern>/StaffSelectPrescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffActionPrescriptionController</servlet-name>
        <url-pattern>/StaffActionPrescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSelectAppointmentController</servlet-name>
        <url-pattern>/StaffSelectAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffActionAppointmentController</servlet-name>
        <url-pattern>/StaffActionAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffViewTestController</servlet-name>
        <url-pattern>/staffViewTestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientViewTestController</servlet-name>
        <url-pattern>/patientViewTestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSelectPrescriptionController</servlet-name>
        <url-pattern>/PatientSelectPrescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientViewController</servlet-name>
        <url-pattern>/PatientViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientActionPrescriptionController</servlet-name>
        <url-pattern>/PatientActionPrescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSelectRefillController</servlet-name>
        <url-pattern>/StaffSelectRefillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffActionRefillController</servlet-name>
        <url-pattern>/StaffActionRefillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteController</servlet-name>
        <url-pattern>/AutoCompleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientActionAppointmentController</servlet-name>
        <url-pattern>/PatientActionAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSelectAppointmentController</servlet-name>
        <url-pattern>/PatientSelectAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorActionSpecalistController</servlet-name>
        <url-pattern>/DoctorActionSpecalistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSelectSpecalistController</servlet-name>
        <url-pattern>/DoctorSelectSpecalistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSelectInvoiceController</servlet-name>
        <url-pattern>/StaffSelectInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffActionInvoiceController</servlet-name>
        <url-pattern>/StaffActionInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSelectBookingController</servlet-name>
        <url-pattern>/PatientSelectBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectTurnoverController</servlet-name>
        <url-pattern>/AdminSelectTurnoverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActionTurnoverController</servlet-name>
        <url-pattern>/AdminActionTurnoverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectInvoiceController</servlet-name>
        <url-pattern>/AdminSelectInvoiceController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <!-- =============================== WELCOME =============================== -->
    <welcome-file-list>
        <welcome-file>view/jsp/pages/LoginPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
