<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>DB name</description>
        <param-name>DbContext</param-name>
        <param-value>ToloGP</param-value>
    </context-param>
    <context-param>
        <description>User Table</description>
        <param-name>UserContext</param-name>
        <param-value>USERS</param-value>
    </context-param>
    
    <!-- =============================== FILTER =============================== -->
    
    <filter>
        <filter-name>RouteFilter</filter-name>
        <filter-class>filter.RouteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- =============================== LISTENER =============================== -->
    
    <listener>
        <description>ServletContextListener</description>
        <listener-class>config.Configuration</listener-class>
    </listener>
    
    <!-- =============================== SERVLET =============================== -->
    
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>controller.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>controller.SignOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    
    <!-- =============================== SESSION =============================== -->
    
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <!-- =============================== WELCOME =============================== -->
    <welcome-file-list>
        <welcome-file>view/Welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
